
@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
#lqo {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  @import "./normalize.scss";
  @import './styles2.scss';
  
}